* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}

#content {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
}

#content-box {
    width: 1224px;
    height: 500px;
    margin: 200px auto;
}

#img1 {
    float: left;
    width: 600px;
    height: 500px;
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2018/01/1-570x518.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    position: relative;
}

#img2 {
    float: right;
    width: 600px;
    height: 238px;
    margin: 0 0 12px 24px;
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2017/12/cat-2-copyright-1170x514.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    position: relative;
}

.img34 {
    float: right;
    margin: 12px 0 0 24px;
    width: 288px;
    height: 238px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    position: relative;
}

#img3 {
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2018/01/3_01-570x518.jpg);
}

#img4 {
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2018/01/4-570x518.jpg);
}

#img1, #img2, .img34 {
    cursor: pointer;
    transition: .3s;
}

/*span after element*/
#img1 span, #img2 span, .img34 span {
    position: absolute;
    bottom: 0;
    left: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 15px;
    letter-spacing: 2px;
    font-size: 20px;
}

#img1 span::after {
    position: absolute;
    content: '';
    bottom: 60px;
    left: 22px;
    width: 1px;
    height: 35px;
    background: #e5523e;
}

#img2 span::after {
    position: absolute;
    content: '';
    bottom: 38px;
    left: 22px;
    width: 1px;
    height: 35px;
    background: #e5523e;
}

.img34 span::after {
    position: absolute;
    content: '';
    bottom: 87px;
    left: 22px;
    width: 1px;
    height: 35px;
    background: #e5523e;
}

/*elements hover animation*/
#img1:hover, #img2:hover, #img3:hover, #img4:hover {
    background-size: 120%;
    background-position: center;
}


/*///////////////////////*/
/*slider top product section*/
/*///////////////////////*/
#slide-content {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}

#slide-box {
    width: 1024px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.glide__arrow--left {
    position: absolute;
    top: 150px;
    left: 0px;
    background: transparent;
    color: #000;
    font-size: 20px;
    border: none;
    box-shadow: none;
}

.glide__arrow--right {
    position: absolute;
    top: 150px;
    right: 8px;
    background: transparent;
    color: #000;
    font-size: 20px;
    border: none;
    box-shadow: none;
}

.glide__slide h5 {
    text-align: center;
    margin: 15px 0 5px 0;
    font-family: sans-serif;
    font-weight: 200;
    color: #666;
    font-size: 10px;
}

.glide__slide h2 {
    text-align: center;
    font-weight: 700;
    color: #000;
    font-size: 18px;
    margin: 0 0 8px 0;
}

.glide__slide h3 {
    text-align: center;
    font-weight: 700;
    color: #e5523e;
    font-size: 15px;
}

.glide__slide img{
    transition: .2s;
}

.glide__slide img:hover {
    opacity: .8;
}

/*top products*/
#titleProd {
    width: 300px;
    margin: 0 auto;
    margin-bottom: -50px;
    height: 80px;
    text-align: center;
}

#titleProd h1 {
    font-size: 45px;
    color: #444;
    position: relative;
}

#titleProd h1::before {
    position: absolute;
    left: 100px;
    content: '';
    height: 1px;
    width: 100px;
    background-color: #e5523e;
}

#imgSale {
    position: relative;
}

#imgSale::after {
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 60px solid red;
    border-left: 60px solid transparent;
}



/*WP3TP*/