* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
}

/*///////////////////////*/
/*//////1st section//////*/
/*///////////////////////*/
#content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#content-box {
    width: 1224px;
    height: 500px;
    margin: 200px auto;
}

#img1 {
    float: left;
    width: 600px;
    height: 500px;
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2018/01/1-570x518.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    position: relative;
}

#img2 {
    float: right;
    width: 600px;
    height: 238px;
    margin: 0 0 12px 24px;
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2017/12/cat-2-copyright-1170x514.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    position: relative;
}

.img34 {
    float: right;
    margin: 12px 0 0 24px;
    width: 288px;
    height: 238px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    position: relative;
}

#img3 {
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2018/01/3_01-570x518.jpg);
}

#img4 {
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2018/01/4-570x518.jpg);
}

#img1, #img2, .img34 {
    cursor: pointer;
    transition: .3s;
}

/*span after element*/
#img1 span, #img2 span, .img34 span {
    position: absolute;
    bottom: 0;
    left: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 15px;
    letter-spacing: 2px;
    font-size: 20px;
}

#img1 span::after {
    position: absolute;
    content: '';
    bottom: 60px;
    left: 22px;
    width: 1px;
    height: 35px;
    background: #e5523e;
}

#img2 span::after {
    position: absolute;
    content: '';
    bottom: 38px;
    left: 22px;
    width: 1px;
    height: 35px;
    background: #e5523e;
}

.img34 span::after {
    position: absolute;
    content: '';
    bottom: 87px;
    left: 22px;
    width: 1px;
    height: 35px;
    background: #e5523e;
}

/*elements hover animation*/
#img1:hover, #img2:hover, #img3:hover, #img4:hover {
    background-size: 120%;
    background-position: center;
}

/*///////////////////////*/
/*//////2nd section//////*/
/*///////////////////////*/
